*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main_div{
    margin: 2em auto;
    width: 20em;
    height: 12em;
    background-color: #343a3e;
    padding: 1.5em;
    border-radius: 5px;
}

.border_container{
    width: max-content;
    height: 10em;
    line-height: 2em;
}

#user_name{
    color: dodgerblue;
    font-size: xx-large;
}

p{
    color: white;
    font-size: small;
}

hr{
    width: 20em;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid black;
}

button{
    margin-top: 1em;
    width: 4em;
    height: 2em;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.402);
}

button:hover{
    background-color: rgb(31, 119, 208);
}