<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css')}}">
    <title>Page Not Found</title>
</head>
<body>
    <nav class="nav_bar">
        <h1>Users CRUD</h1>
    </nav>
    <div class="content_wrapper">
        <img src="{{ url_for('static', filename='IMG/404-errors.png')}}" alt="Page Not Found" id="missing_page_image">
    </div>
</body>
</html>