<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css')}}">
    <title>Login Form</title>
</head>
<body>
    <div class="nav_wrapper">
        <a href="/"><img src='{{ url_for("static", filename="IMG/dojologo-removebg-preview.png")}}' id="dojo_logo"></a>
    </div>
    <div class="main_wrapper">
        <div class="left_wrapper">
            <h2>Sign In</h2>
            {% with messages = get_flashed_messages()%}
                {% if messages %}
                    {% for message in messages %}
                        <p id="flashed_messages">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/login_user" method="post">
                <input type="hidden" name="l_form">
                <input type="email" name="email" placeholder="Email Address" id="f_input">
                <input type="password" name="password" placeholder="Password" id="f_input">
                <button type="submit" id="f_button">Login</button>
            </form>
            <div class="links">
                <a href="/">Forgot Password?</a>
                <a href="/register">Register</a>
            </div>
        </div>
        <div class="right_wrapper">

        </div>
    </div>
</body>
</html>