<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <p>{{ session['counter'] }} times</p>
    <div class="button_div">
        <button id="add"><a href="/">Add</a></button>
        <button id="refresh"><a href="/destroy">refresh</a></button>
    </div>

    <script src="{{ url_for('static', filename='JS/script.js') }}"></script>
</body>
</html>