<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/user_page.css')}}">
    <title>User Page</title>
</head>
<body>
    <nav class="nav_bar">
        <a href="/" id="logo_link">
            <h1>Users CRUD</h1>
        </a>
    </nav>
    <div class="content_wrapper">
        <h2>Hello, User {{user[0]['id']}}</h2>
        <div class="info_wrapper">
            <p>Full Name: {{user[0]['full_name']}}</p>
            <p>Email: {{user[0]['email']}}</p>
            <p>Creation Date: {{user[0]['created_at']}}</p>
            <p>Last time updated: {{user[0]['updated_at']}}</p>
        </div>
        <a href="/"><button id="user_home_button">Home</button></a><a href="/edit_user/{{user[0]['id']}}" ><button id="user_edit_button">Edit</button></a><a href="/delete/{{user[0]['id']}}"><button id="user_delete_button">Delete</button></a>
    </div>

</body>
</html>